/*BODY-------------------------------*/

body {
    padding:20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
}

/*WRAPPER-------------------------------*/

#container{
    grid-column: 2/12;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:5px;
}

img{
    width:100%;
    grid-row: 1;
    grid-column: span 1;
}

@media (max-width: 600px){
    #container {
        grid-template-columns: 1fr;
        grid-column:1/13;
    }

    img{
        max-width:940px;
        grid-column: 1;
        grid-row: unset;
    }
}




